In [13]:
# Exercício para ser feito de maneira individual
# Leia o notebook que explica como criar funções, anexado à essa aula
# Crie uma função que execute algum trecho de código que talvez possa ser reutilizado em diversas partes do seu programa
# Você pode transformar um trecho de código de algum outro exercício que você já tenha feito, da biblioteca que seu grupo explicou na aula 5 ou mesmo de um novo código que você queira fazer
# Deve ser enviado até as 19:30 de 10/09/2021

# O **seu** salário nas capitais do Brasil

Este trabalho se propõe a comparar o **seu** salário bruto com o de políticos e também com o rendimento médio da população e o salário mínimo. 
A ideia é mostrar ao usuário onde o salário dele se encaixa nesse cenário. 
A inspiração veio deste [trabalho do Nexo](https://www.nexojornal.com.br/interativo/2016/01/11/O-seu-sal%C3%A1rio-diante-da-realidade-brasileira).
E os dados utilizados são do [G1](https://g1.globo.com/politica/noticia/2021/01/26/salarios-dos-prefeitos-nas-capitais-variam-de-r-176-mil-a-r-31-mil-vereadores-recebem-ate-r-189-mil.ghtml), com informações das capitais, e também do [IBGE](https://www.ibge.gov.br/estatisticas/multidominio/cultura-recreacao-e-esporte/17270-pnad-continua.html?=&t=o-que-e). Os salários dos [deputados federais](https://www.camara.leg.br/noticias/545051-conheca-o-valor-do-salario-de-um-deputado-e-demais-verbas-parlamentares/) e [senadores](https://www12.senado.leg.br/transparencia/rh/estrutura-remuneratoria-dos-parlamentares) foram coletados nos respectivos portais em 6 de setembro. O trabalho optou por não incluir os deputados estaduais/distritais, que não estão disponíveis de forma consolidada.

O código deste notebook e os dados estão no GitHub em https://github.com/gabrielacaesar/master-insper-dados-automacao-data-storytelling/tree/main/python_exercicio_10set2021

## Etapa 1 - A
Primeiro, nós vamos importar o arquivo que contém os dados que serão depois utilizados na função. Podemos fazer manualmente o upload do arquivo no botão ao lado, sem precisar de biblioteca.

In [286]:
arquivo = "dados_salarios_prefeito_vereador_rendimento_medio_populacao_capital.csv"

In [287]:
meus_dados = []
csv_dados = []
with open(arquivo, "r", encoding='utf-8-sig') as f:
    meus_dados.append(f.read())
    #print(dados)
    for linhas in meus_dados:
      linha = linhas.strip().split("\n")
      #print(linha)
      for dado in linha:
        coluna = dado.strip().split(",")
        print(coluna)
        csv_dados.append(coluna)

['Capital', 'Prefeito', 'Vereador', 'Rendimento médio da população']
['Aracaju (SE)', '24000', '18992', '2525']
['Belém (PA)', '18038', '15032', '2557']
['Belo Horizonte (MG)', '31061', '18402', '2973']
['Boa Vista (RR)', '18000', '15513', '2490']
['Campo Grande (MS)', '21264', '18992', '2476']
['Cuiabá (MT)', '27500', '15100', '2962']
['Curitiba (PR)', '28359', '15595', '3617']
['Florianópolis (SC)', '27740', '15193', '3896']
['Fortaleza (CE)', '23326', '16393', '2297']
['Goiânia (GO)', '27074', '15635', '2709']
['João Pessoa (PB)', '22000', '15000', '2775']
['Macapá (AP)', '19294', '12000', '2194']
['Maceió (AL)', '20000', '15032', '1894']
['Manaus (AM)', '18000', '15032', '2129']
['Natal (RN)', '20000', '17000', '2612']
['Palmas (TO)', '24056', '12661', '2674']
['Porto Alegre (RS)', '19477', '14574', '4036']
['Porto Velho (RO)', '24541', '13952', '2291']
['Recife (PE)', '25000', '18980', '2520']
['Rio Branco (AC)', '17621', '12025', '2058']
['Rio de Janeiro (RJ)', '20535', '18992', '3823']
['Salvador (BA)', '26865', '18733', '2600']
['São Luís (MA)', '25000', '15000', '1997']
['São Paulo (SP)', '24176', '18992', '3991']
['Teresina (PI)', '17691', '18881', '1883']
['Vitória (ES)', '19217', '8966', '4283']

In [288]:
print(csv_dado)

[['Capital', 'Prefeito', 'Vereador', 'Rendimento médio da população'], ['Aracaju (SE)', '24000', '18992', '2525'], ['Belém (PA)', '18038', '15032', '2557'], ['Belo Horizonte (MG)', '31061', '18402', '2973'], ['Boa Vista (RR)', '18000', '15513', '2490'], ['Campo Grande (MS)', '21264', '18992', '2476'], ['Cuiabá (MT)', '27500', '15100', '2962'], ['Curitiba (PR)', '28359', '15595', '3617'], ['Florianópolis (SC)', '27740', '15193', '3896'], ['Fortaleza (CE)', '23326', '16393', '2297'], ['Goiânia (GO)', '27074', '15635', '2709'], ['João Pessoa (PB)', '22000', '15000', '2775'], ['Macapá (AP)', '19294', '12000', '2194'], ['Maceió (AL)', '20000', '15032', '1894'], ['Manaus (AM)', '18000', '15032', '2129'], ['Natal (RN)', '20000', '17000', '2612'], ['Palmas (TO)', '24056', '12661', '2674'], ['Porto Alegre (RS)', '19477', '14574', '4036'], ['Porto Velho (RO)', '24541', '13952', '2291'], ['Recife (PE)', '25000', '18980', '2520'], ['Rio Branco (AC)', '17621', '12025', '2058'], ['Rio de Janeiro (RJ)', '20535', '18992', '3823'], ['Salvador (BA)', '26865', '18733', '2600'], ['São Luís (MA)', '25000', '15000', '1997'], ['São Paulo (SP)', '24176', '18992', '3991'], ['Teresina (PI)', '17691', '18881', '1883'], ['Vitória (ES)', '19217', '8966', '4283']]

## Etapa 1 - B
Outra opção é importarmos os dados usando a biblioteca ``pandas``, que aprendemos na aula do professor André. Para isso, precisamos antes de importá-la, como fazemos logo abaixo. Esta biblioteca, a principal para a análide de dados em Python, também será útil para verificarmos o arquivo antes de criarmos a função que compara os salários.

In [289]:
import pandas as pd # importamos a biblioteca pandas

In [290]:
dados = pd.read_csv("https://raw.githubusercontent.com/gabrielacaesar/master-insper-dados-automacao-data-storytelling/main/python_exercicio_10set2021/dados_salarios_prefeito_vereador_rendimento_medio_populacao_capital.csv")

## Etapa 2
Conforme escrevi acima, considero importante verificarmos o arquivo antes de criarmos a função. Também vamos aproveitar este momento para padronizar o cabeçalho e a coluna com os nomes de capitais e estados. Vamos criar ainda uma coluna para o salário dos senadores e outra para o dos deputados federais.

In [291]:
# as estatísticas mais básicas das colunas númericas
dados.describe()

           Prefeito      Vereador  Rendimento médio da população
count     26.000000     26.000000                      26.000000
mean   22685.961538  15794.884615                    2779.307692
std     3896.944387   2621.064674                     715.728483
min    17621.000000   8966.000000                    1883.000000
25%    19339.750000  15000.000000                    2292.500000
50%    22663.000000  15353.000000                    2578.500000
75%    25000.000000  18650.250000                    2970.250000
max    31061.000000  18992.000000                    4283.000000

In [292]:
# as primeiras linhas
dados.head()

               Capital  Prefeito  Vereador  Rendimento médio da população
0         Aracaju (SE)     24000     18992                           2525
1           Belém (PA)     18038     15032                           2557
2  Belo Horizonte (MG)     31061     18402                           2973
3       Boa Vista (RR)     18000     15513                           2490
4    Campo Grande (MS)     21264     18992                           2476

In [293]:
# o tipo de dado nas colunas
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Capital                        26 non-null     object
 1   Prefeito                       26 non-null     int64
 2   Vereador                       26 non-null     int64
 3   Rendimento médio da população  26 non-null     int64
dtypes: int64(3), object(1)
memory usage: 960.0+ bytes

In [294]:
# o cabeçalho original
dados.columns

Index(['Capital', 'Prefeito', 'Vereador', 'Rendimento médio da população'], dtype='object')

In [295]:
# renomeamos e padronizamos o cabeçalho
dados = dados.rename(columns={'Capital':'capital', 'Prefeito': 'prefeito', 'Vereador': 'vereador', 'Rendimento médio da população':'populacao'})

In [296]:
# o novo cabeçalho, após a renomeação
dados.columns

Index(['capital', 'prefeito', 'vereador', 'populacao'], dtype='object')

In [297]:
# criação de coluna para os salários de deputado federal, senador e salário mínimo
dados['deputado_federal'] = 33763
dados['senador'] = 33763
dados['salario_minimo'] = 1100

dados.columns

Index(['capital', 'prefeito', 'vereador', 'populacao', 'deputado_federal',
       'senador', 'salario_minimo'],
      dtype='object')

# Parte 3
Antes de criamos a função, vamos criar e testar o código e só depois, na parte 4, vamos diminuir o número de linhas e encapsular dentro de uma função.

O salário do usuário será **autodeclaratório**.

In [308]:
print(" --------------------------- \n         Bem-vindo! \n ---------------------------")
nome_user = input("Qual é o seu nome? ").title()
salario_user = int(input("Qual é o seu salário bruto? "))
estado_user = input("Digite a sigla da UF onde você mora: ")
estado_user = estado_user.upper().strip()
#print(estado_user)
print(" --------------------------- \n      Já vamos calcular! \n ---------------------------")

 ---------------------------
         Bem-vindo!
 ---------------------------
Qual é o seu nome? alvaro
Qual é o seu salário bruto? 3500
Digite a sigla da UF onde você mora: sp
 ---------------------------
      Já vamos calcular!
 ---------------------------

In [309]:
# filtro pelo estado informado pelo usuário, considerando a coluna 'capital'
dados_user = dados.query('capital.str.contains(@estado_user)', engine='python') 
dados_user

           capital  prefeito  ...  senador  salario_minimo
23  São Paulo (SP)     24176  ...    33763            1100

[1 rows x 7 columns]

In [310]:
# criação de coluna com salário do usuário
dados_user['user'] = salario_user
dados_user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           capital  prefeito  vereador  ...  senador  salario_minimo  user
23  São Paulo (SP)     24176     18992  ...    33763            1100  3500

[1 rows x 8 columns]

In [311]:
# criação de variáveis com o cálculo das relações de salários
calc_senador = float(dados_user['senador']/dados_user['user'])
calc_deputado = float(dados_user['deputado_federal']/dados_user['user'])
calc_prefeito = float(dados_user['prefeito']/dados_user['user'])
calc_vereador = float(dados_user['vereador']/dados_user['user'])
calc_populacao = float(dados_user['populacao']/dados_user['user'])
calc_minimo = float(dados_user['salario_minimo']/dados_user['user'])  
print(calc_senador, calc_deputado, calc_prefeito, calc_vereador, calc_populacao, calc_minimo)

9.646571428571429 9.646571428571429 6.9074285714285715 5.426285714285714 1.1402857142857143 0.3142857142857143

In [312]:
# mensagem de print com o resultado
print(f"""
{nome_user},
Você informou que mora em {estado_user}.
---------------------------------------------
Estas foram as informações levantadas:
(Os números abaixo são apenas os salários brutos. Não foram considerados outros benefícios)
---------------------------------------------
- O salário de um senador é {calc_senador:.1f} vezes o seu salário \n
- O salário de um deputado federal é {calc_deputado:.1f} vezes o seu salário \n
- O salário do prefeito da capital do seu estado é {calc_prefeito:.1f} vezes o seu salário \n
- O salário do vereador da capital do seu estado é {calc_vereador:.1f} vezes o seu salário \n
- O rendimento médio da população da capital do seu estado é {calc_populacao:.1f} vezes o seu salário \n
- O salário mínimo do Brasil é {calc_minimo:.1f} vezes o seu salário""")

Alvaro,
Você informou que mora em SP.
---------------------------------------------
Estas foram as informações levantadas:
(Os números abaixo são apenas os salários brutos. Não foram considerados outros benefícios)
---------------------------------------------
- O salário de um senador é 9.6 vezes o seu salário

- O salário de um deputado federal é 9.6 vezes o seu salário

- O salário do prefeito da capital do seu estado é 6.9 vezes o seu salário

- O salário do vereador da capital do seu estado é 5.4 vezes o seu salário

- O rendimento médio da população da capital do seu estado é 1.1 vezes o seu salário

- O salário mínimo do Brasil é 0.3 vezes o seu salário

## Parte 4
Agora finalmente vamos encapsular o código e criar uma função. O objetivo dela é informar ao usuário a comparação do salário dele com o de políticos, o salário mínimo no Brasil e o rendimento médio da população nas capitais.

In [313]:
def compara_salarios():
  print(" --------------------------- \n         Bem-vindo! \n ---------------------------")
  nome_user = input("Qual é o seu nome? ").title()
  salario_user = int(input("Qual é o seu salário bruto? "))
  estado_user = input("Digite a sigla da UF onde você mora: ")
  estado_user = estado_user.upper().strip()
  #print(estado_user)
  print(" --------------------------- \n      Já vamos calcular! \n ---------------------------")
  dados_user = dados.query('capital.str.contains(@estado_user)', engine='python')
  dados_user['user'] = salario_user
  calc_senador = float(dados_user['senador']/dados_user['user'])
  calc_deputado = float(dados_user['deputado_federal']/dados_user['user'])
  calc_prefeito = float(dados_user['prefeito']/dados_user['user'])
  calc_vereador = float(dados_user['vereador']/dados_user['user'])
  calc_populacao = float(dados_user['populacao']/dados_user['user'])
  calc_minimo = float(dados_user['salario_minimo']/dados_user['user'])  
  print(f"""
{nome_user},
Você informou que mora em {estado_user}.
---------------------------------------------
Estas foram as informações levantadas:
(Os números abaixo são apenas os salários brutos. Não foram considerados outros benefícios)
---------------------------------------------
- O salário de um senador é {calc_senador:.1f} vezes o seu salário \n
- O salário de um deputado federal é {calc_deputado:.1f} vezes o seu salário \n
- O salário do prefeito da capital do seu estado é {calc_prefeito:.1f} vezes o seu salário \n
- O salário do vereador da capital do seu estado é {calc_vereador:.1f} vezes o seu salário \n
- O rendimento médio da população da capital do seu estado é {calc_populacao:.1f} vezes o seu salário \n
- O salário mínimo do Brasil é {calc_minimo:.1f} vezes o seu salário

""")

In [314]:
compara_salarios()

 ---------------------------
         Bem-vindo!
 ---------------------------
Qual é o seu nome? alvaro
Qual é o seu salário bruto? 3500
Digite a sigla da UF onde você mora: sp
 ---------------------------
      Já vamos calcular!
 ---------------------------

Alvaro,
Você informou que mora em SP.
---------------------------------------------
Estas foram as informações levantadas:
(Os números abaixo são apenas os salários brutos. Não foram considerados outros benefícios)
---------------------------------------------
- O salário de um senador é 9.6 vezes o seu salário

- O salário de um deputado federal é 9.6 vezes o seu salário

- O salário do prefeito da capital do seu estado é 6.9 vezes o seu salário

- O salário do vereador da capital do seu estado é 5.4 vezes o seu salário

- O rendimento médio da população da capital do seu estado é 1.1 vezes o seu salário

- O salário mínimo do Brasil é 0.3 vezes o seu salário

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

# Fim!
## Obrigada pela atenção!